#! /usr/bin/env python

PACKAGE='repulsive_fields'

import roslib;
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#       	Name			Type      	Level	Description				Default 	Min	Max
gen.add( 	"k_repulsive", 	double_t, 	0, 	"Repulsive gain", 			1.0, 		0, 	10)
gen.add( 	"max_height",   double_t, 	0, 	"Max acting Repulsive height", 	2.5, 		0, 	6)
gen.add( 	"min_height",	double_t, 	0, 	"Min acting Repulsive height", 	0.15, 		0, 	6)
gen.add( 	"max_radius",	double_t, 	0, 	"Max acting Repulsive distance", 1.0, 		0, 	6)
gen.add( 	"max_force",	double_t, 	0, 	"Max repulsive Force", 1.0, 		0, 	6)

exit(gen.generate(PACKAGE, "repulsive_fields", "setRepulsiveFields")) # setRepulsiveFieldsConfig.h
